@import 'https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap';

.modal .modal-content {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	max-width: 90%;
	font-weight: 600;
	font-size: 2em;
}

.modal-title {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
}

.btn {
	margin-right: 5%;
}